.product-card {
  min-width: 200px;
  background: white;
  padding: 15px;
  border-radius: 5px;
  transition: 0.3s;
  text-align: center;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  margin: 10px 0;
}

.product-card button {
  padding: 8px;
  width: 100%;
  border: none;
  background: #ffd814;
  cursor: pointer;
}